<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body >
    <h1>New Employee</h1>
    <form action="/employees/save" method="POST" th:object="${employee}">

        <label>First Name</label>
        <input type="text" th:field="${employee.firstName}" />
        <label>Last Name</label>
        <input type="text" th:field="${employee.lastName}" />
        <label>Email</label>
        <input type="email" th:field="${employee.email}" />
        
        <button type="submit">Create EMployee</button>
    </form>
    
</body>
</html>